<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="https://dope-2024.github.io/sih/static/style.css">
    <link rel="stylesheet" href="https://dope-2024.github.io/sih/static/extra.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<style>
    html, body {
           height: 100%;
           margin: 0;
           padding: 0;
           font-family: "Poppins", sans-serif;
           background-color: hsl(168, 56%, 89%);
           color: #333;
       }

       header {
   display: flex;
   align-items: center;
   justify-content: space-between; /* Ensures elements in the header are spaced properly */
   padding: 10px 20px;
   background-color: #f8f9fa; /* Light background for the header */
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}

header .logo {
   display: flex; /* Ensures proper alignment */
   align-items: center; /* Vertically aligns the logo */
}

header .logo img {
   height: 100px; /* Ensures the logo height is consistent */
}



</style>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}"><img  src="https://muthu-2005.github.io/SIH-Final-2024/pictures/logo.png" alt="Coconut Company Logo" style="height: 75x;"></a>
        </div>
       
    </header>

    
    <section class="section stats" id="games" aria-label="stats">
        <h2 class="h2 section-title">Games of DopeShield</h2><br><br>
        <div class="container">

          <ul class="grid-list">

            <li>
                <div class="stats-card" style="--color: 351, 83%, 61%">
                  <a href="index.html" class="logo"><center>
                    <img src="https://github.com/dope-2024/sih/blob/main/static/pictures/game2.jpg?raw=true" width="162" height="50" alt="DopeShield logo" style="border-radius: 5px;"></center>
                  </a><br>
                  <a href="/game4"><h3 class="card-title">True or Tainted ?</h3></a>
  
                  <a href="/game4"><p class="card-text">Let's Play</p></a>
                </div>
              </li>
  
      
            <li>
              <div class="stats-card" style="--color: 260, 100%, 67%">
                <a href="index.html" class="logo"><center>
                  <img src="https://github.com/dope-2024/sih/blob/main/static/pictures/game4.jpg?raw=true" width="162" height="50" alt="DopeShield logo" style="border-radius: 5px;"></center>
                </a><br>
                <a href="/game2"><h3 class="card-title">Ethics Enigma</h3></a>
                <a href="/game2"><p class="card-text">Let's Play</p></a>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 42, 94%, 55%">
                <a href="index.html" class="logo"><center>
                  <img src="https://github.com/dope-2024/sih/blob/main/static/pictures/game3.jpg?raw=true" width=" 162" height="50" alt="DopeShield logo" style="border-radius: 5px;"></center>
                </a><br>
                <a href="/game1"><h3 class="card-title">Word Whirl </h3></a>

                <a href="/game1"><p class="card-text">Let's Play</p></a>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 190, 75%, 41%">
                <a href="index.html" class="logo"><center>
                  <img src="https://github.com/muthu-2005/SIH-Final-2024/blob/main/pictures/game6.jpg?raw=true" width="162" height="50" alt="DopeShield logo" style="border-radius: 5px;"></center>
                </a><br>
                <a href="/game3"><h3 class="card-title">Doping Dilemma</h3></a>

                <a href="/game3"><p class="card-text">Let's Play</p></a>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 142, 94%, 55%">
                <a href="index.html" class="logo"><center>
                  <img src="https://github.com/dope-2024/sih/blob/main/static/pictures/WhatsApp%20Image%202024-12-12%20at%2003.30.38_2bf8eca6.jpg?raw=true" width="162" height="50" alt="DopeShield logo" style="border-radius: 5px;"></center>
                </a><br>
                <a href="/drop"><h3 class="card-title">Dope  Drop </h3></a>

                <a href="/drop"><p class="card-text">Let's Play</p></a>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 921, 94%, 55%">
                <a href="index.html" class="logo"><center>
                  <img src="https://github.com/dope-2024/sih/blob/main/static/pictures/game6.jpg?raw=true" width="162" height="50" alt="DopeShield logo" style="border-radius: 5px;"></center>
                </a><br>
                <a href="/life"><h3 class="card-title">Life's Bounty </h3></a>

                <a href="/life"><p class="card-text">Let's Play</p></a>
              </div>
            </li>

          </ul>


        </div>
      </section>
</body>
</html>